body{
	background-repeat: no-repeat;
}
#top{
	display: flex;
	align-items: center;
	align-content: center;
	text-align: center;

}
.exclamation{
	color:red;
	padding-left: 3px;
	font-size: 50px;
}
.exclamation1{
	color:#4CAF50; 
	}
#top h1{
	color: #000000;
	font-family: 'Lobster', cursive;
	font-size: 50px;
}
#player1{
	margin: 2px;

}
#player2{
	margin: 2px;
	
}


/*this is the second section of the website (rules and new game)*/
#panel{
	margin-left: 300px;
}
#main-panel{
	border:solid #ffffff ;
	/*border-radius: 30%;*/
	margin: 10px;
}
#panel1{
	width: 500px;
	background-color: #000000;
	color: #ffffff;
	padding: 8%;
	border-radius: 5%;
	border-color: none;

}
#panel2{
	width: 450px;
	padding:10px;
	background-color: #000000;
	color: #ffffff;
	padding: 8%;
	border-radius: 8%;
	border-color: none;

}

#btn-start{
	 background-color: #4CAF50; 
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Lobster', cursive;
}
#rules{
	font-family: 'Pacifico', cursive;
	font-size:15px;
}

/*this is the third section of the website*/
#third-section{
	background-repeat: no-repeat;
	background-size: cover;
}
.card{
	margin: 20px;
	border-radius: 10%;
	border-color: none;
	margin-left: 10px;
}
.card-body{
	width: 300px;
	height: 300px;
	background-color: #000000;
	border-radius: 10%;
	border-color: none;
	color:#ffffff;
}
.play-buttons{
	background-color: #4CAF50; 
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12%;
    font-family: 'Lobster', cursive;

}
#play-green{
	margin-top: 20px;
	margin-left: 20px;
}
#play-red{
	margin-top: 20px;
	margin-left: 20px;
	background-color: red;
}
#play1-green{
	margin-top: 70px;
	margin-left: 20px;
	font-size: 25px;
}
#play1-red{
	margin-top: 70px;
	margin-left: 20px;
	font-size: 25px;
	background-color: red;
}
#Exit-players{
	display: none;
	padding-left: 30px;
	padding-right: 30px;
	background-color: red;
}
#Restart-players{
	display:none;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 20%;
}
#show-rules{
	display: none;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 35%;
}
#play1-game-green{
	margin-top: 70px;
	margin-left: 20px;
	font-size: 25px;
}
#play1-game-red{
	margin-top: 70px;
	margin-left: 20px;
	font-size: 25px;
	background-color: red;
}

/*this section deals with card manipulation to draw a dice*/
/*#dice-card-title{
	text-align: center;
}
#rolled-dice-body{
	margin-left: 30px;
	margin-top: 20px;
	border: solid white 2px;
	border-radius: 5%;
	padding: 10px;
	padding-top: 20px;
	width: 80%;
}
#circle-cards-first{
	border-radius: 100%;
	width: 20px;
	height: 20px;
	margin-left: 20px;
	margin-top:10px;
	display: inline-block;
}
#circle-cards-first-hidden{
	border-radius: 100%;
	width: 20px;
	height: 20px;
	margin-left: 20px;
	margin-top:10px;
	display: inline-block;
	background-color: #000000;
}
#circle-cards-second{
	border-radius: 100%;
	width: 20px;
	height: 20px;
	margin-left: 20px;
	margin-top:20px;
	display: inline-block;
}
#circle-cards-third{
	border-radius: 100%;
	width: 20px;
	height: 20px;
	margin-left: 20px;
	margin-top:20px;
	display: inline-block;
}
#circle-cards-third-hidden{
	border-radius: 100%;
	width: 20px;
	height: 20px;
	margin-left: 20px;
	margin-top:20px;
	display: inline-block;
	background-color: #000000;
}*/